<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MediaPult</title>
    <script type="systemjs-importmap" src="{{resourcesUrl}}/importmap.json"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/system.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/amd.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/named-register.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/named-exports.js"></script>
    <script src="{{resourcesUrl}}/extlib/systemjs/extras/transform.js"></script>
</head>
<body>
    <script type="text/javascript">
        System.import('{{resourcesUrl}}/bootstrap.js');
    </script>
    <script type="text/javascript">
        window.config = {{{toJSON config}}};
        window.navigation = {{{toJSON navigation}}};
    </script>
    <div id="bootstrap"></div>
    <div id="app"></div>
</body>
</html>
